@use "../../styles/mixin" as mixin;
@use "../../styles/colors" as colors;

.loginPage {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: colors.$color-background-blue;
}

.loginBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row-reverse;
  max-width: 1000px;
  background-color: colors.$color-white;
  box-shadow: 0 0 40px colors.$color-box-shadow;
  overflow: hidden;
  margin: 0 auto;
  border-radius: 12px;
  @include mixin.loginTablet {
    flex-direction: column;
    box-shadow: none;
  }
}

#loginForm {
  flex: 1 0 100%;
  max-width: 480px;
  width: 100%;
  padding: 60px;

  @include mixin.loginTablet {
    max-width: 100%;
  }

  p {
    margin-bottom: 30px;

    &.formTitle {
      color: colors.$color-text-title-dark;
      font-family: 'Josefin Sans', sans-serif;
      font-size: 42px;
      font-weight: bold;
      line-height: 1;
      margin-bottom: 0;
    }
  }

  .ant-form-item-label > label.ant-form-item-required::before {
    display: none;
  }
}

.ant-form-item-control-input-content {
  text-align: left;
}

.loginFormButton {
  width: 100%;
  height: 40px;
  margin-bottom: 10px;
}

.buttonTextStyle {
  color: colors.$color-white;
}

.illustrationWrapper {
  display: flex;
  align-items: flex-end;
  max-width: 800px;
  min-height: 100%;
  background-color: #f2feff;

  @include mixin.loginTablet {
    max-width: 100%;
    min-height: auto;
  }

  img {
    display: block;
    width: 100%;
  }
}