.multiLists {
  margin: 4px 0px;
}

.multiListStyle {
  display: flex;
  gap: 8px;
  margin: 10px 0px;
}

.saveIcons {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-right: 8px;
}
