$color-foreground: rgb(255, 255, 255);
$color-foreground-grey: rgb(245, 246, 246);
$color-foreground-grey-dark: rgb(234, 236, 237);
$color-foreground-blue: rgb(246, 248, 251);
$color-foreground-blue-dark: rgb(241, 243, 247);
$color-background-blue-dark: rgb(31, 35, 45);
$color-overlay: rgb(31, 38, 49);
$color-shadow: rgb(49, 54, 68);
$color-shadow-dark: rgb(6, 13, 34);
$color-shadow-blue: rgb(103, 132, 187);
$color-blue: rgb(61, 180, 242);
$color-blue-dim: rgb(141, 178, 219);
$color-white: rgb(255, 255, 255);
$color-black: rgb(0, 0, 0);
$color-red: rgb(232, 93, 117);
$color-peach: rgb(250, 122, 122);
$color-orange: rgb(247, 154, 99);
$color-yellow: rgb(247, 191, 99);
$color-green: rgb(123, 213, 85);
$color-teal: rgb(85, 213, 183);
// $color-navbar: rgba(105, 39, 211, 0.733);

// Color palette
$color-background: rgb(249, 247, 247);
$color-navbar: rgba(63, 114, 175);
$color-navbar-hover: rgb(109, 49, 158);
$color-icon: rgb(219, 226, 239);
$color-icon-hover: rgba(63, 114, 175);
$color-icon-selected: rgb(17, 45, 78);
// Text color palette
$color-text: rgb(92, 114, 138);
$color-text-light: rgb(122, 133, 143);
$color-text-lighter: rgb(146, 153, 161);
$color-text-bright: rgb(237, 241, 245);
$color-text-title: rgb(100, 115, 128);

$color-purple: rgb(179, 104, 230);
$color-purple-dim: rgb(173, 141, 219);
$color-overlay: rgb(37, 31, 49);
