@use '../../../../styles/variables.scss' as variables;
@use '../../../../styles/mixin.scss' as mixin;

.tagsContainer {
  z-index: 5;
  position: relative;
  height: 3rem;
  overflow-x: auto;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
  background-color: variables.$color-background;

  :global #tag-search {
    animation: none;
  }

  @include mixin.phoneSmall {
    margin-bottom: 5px;
  }

  .tagsIcon {
    font-size: 1.6rem;
    transform: scale(-1) rotate(90deg);
    margin-right: 16px;
    color: variables.$color-navbar;
    @include mixin.phoneSmall {
      font-size: 1.2rem;
    }
  }

  .tagsText {
    animation: flipAnimation 1s ease-in-out;

    @keyframes flipAnimation {
      0% {
        opacity: 0;
        transform: scale(0.91);
      }
      60% {
        opacity: 1;
      }
      100% {
        transform: none;
      }
    }
    background: variables.$color-navbar;
    border-radius: 6px;
    color: variables.$color-white;
    display: inline-block;
    font-size: 0.7rem;
    font-weight: 600;
    line-height: 13px;
    margin-right: 12px;
    margin-bottom: 3px;
    padding: 5px 8px;
    text-transform: capitalize;

    @include mixin.phoneSmall {
      font-size: 0.5rem;
      margin-right: 8px;
      padding: 3px 6px;
    }

    & span {
      display: none;
      font-size: 0.7rem;
      color: variables.$color-white;
    }

    &:hover span {
      display: inline;
    }
  }

  .clearAll {
    @extend .tagsText;
    background: variables.$color-text-lighter;
  }
}
