@use '../../../styles/mixin.scss' as mixin;
@use '../../../styles/variables.scss' as variables;

.infoBarContainer {
  align-items: center;
  display: grid;
  grid-template-columns: auto -webkit-min-content;
  grid-template-columns: auto min-content;
  margin-bottom: 25px;
  position: relative;
  background-color: variables.$color-background;

  @include mixin.loginTablet {
    padding: 0 20px;
  }

  @include mixin.phoneSmall {
    padding: 0 10px;
    display: block;
    margin-bottom: 8px;
  }
}
