@use '../../../../styles/colors' as colors;

.multiFilterStyle {
  display: flex;
  flex-direction: column;
  margin: 10px 0px;
  gap: 8px;
}

.slideColor {
  div:nth-child(2) {
    background-color: colors.$color-navbar;
  }
}
