@use "../../../styles/mixin" as mixin;

.Table{
  width: 95%;
}

.Image {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 10%;
}

.ImageSmall{
  display: none;
  @include mixin.tablet {
    display: block;
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 10%;
    display: flex;
  }
}

.TagsContainer{
  display: flex;
  flex-wrap: wrap;
  overflow-x: hidden;
}

